.loaderContainer {
  @apply w-2/5
        h-2/5
        rounded-lg
        flex
        flex-col
        gap-5
        justify-center
        items-center
        /* bg-[#c27d0e80]; */;
}
.dots::after {
  content: "";
  animation: dots 2.5s steps(3, end) infinite;
}

@keyframes dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.loaderLogo {
  @apply w-20 h-20 rounded-full;
}
